<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymelaf.org">
<head>
    <object th:include="fragments/fragment :: head" th:remove="tag"></object>
    <title>Add User</title>
    <link rel="stylesheet" href="css/login.css"/>
</head>
<body>

<nav th:replace="fragments/fragment :: navbar"></nav>
<div class="containers">
        <h5 th:text="${notif}" style="color: red"></h5>
            <form th:action="@{/add-user}" method="POST">
                <div class="input-container">
                    <i class="fa fa-user icon" ></i>
                    <input type="text" required class="input-field" name="username" placeholder="Username">
                </div>
                <div class="input-container">
                    <i class="fa fa-key icon" ></i>
                    <input id="password" type="password" required class="input-field" pattern="^(?=.*[A-Za-z])(?=.*\d)[A-Za-z\d]{8,}$" title="Minimum eight characters, at least one letter and one number" name="password" placeholder="Password">
                    <i class="fa fa-eye hider" onclick="showPassword()"></i>
                </div>
                <div class="input-container">
                    <i class="fa fa-users icon" ></i>
                    <select name="role" class="input-field">
                        <option selected value="">-- Pilih Role --</option>
                        <option th:each="role :${listRole}" th:value="${role.id}" th:text="${role.nama}"></option>
                    </select>
                </div>
                <button type="submit" class="buttonLogin">Tambah User</button>
            </form>
</div>
<script>
    function showPassword() {
        var password = document.getElementById("password");
        var hider = document.getElementsByClassName("hider").item(0);
        if (password.type === "password") {
            password.type = "text";
            hider.className= "fa fa-eye-slash hider";

        } else {
            password.type = "password";
            hider.className= "fa fa-eye hider";
        }
    }
</script>
</body>
</html>