<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4" xmlns:th="http://www.thymelaf.org">
<head>
    <title>SiRuangan</title>
    <object th:include="fragments/fragment :: head" th:remove="tag"></object>
    <link rel="stylesheet" href="css/home.css"/>
    <script src="js/home.js"></script>
</head>
<body>
<nav th:replace="fragments/fragment :: navbar"></nav>
<div class="containerss row">
    <div class="col">
        <a th:href="@{/daftar-peminjaman/}">
            <button class="button">
                    Pinjam Ruangan
            </button>
        </a>
    </div>
    <div class="col">
        <a th:href="@{/pengadaan-fasilitas/daftar-pengajuan}">
            <button class="button">
                    Pengajuan Fasilitas
            </button>
        </a>
    </div>
</div>
</body>
</html>