<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymelaf.org">
<head>
    <title>SiRuangan</title>
    <object th:include="fragments/fragment :: head" th:remove="tag"></object>
    <link rel="stylesheet" href="css/home.css"/>
    <script src="js/home.js"></script>
</head>
<body>
<nav th:replace="fragments/fragment :: navbar"></nav>
<div class="containerss row">
    <div class="col">

        <button class="button">
            Pinjam Ruangan
        </button>
    </div>
    <div class="col">

        <button class="button">
            Pengajuan Fasilitas
        </button>
    </div>
</div>
</body>
</html>