.slides{
    animation: slide 2s forwards;
}

@keyframes slide {
    0% {
        opacity: 0;
        transform: translateX(-50%);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

.detail{
    background-color: white;
    border: 1px goldenrod solid;
    color: goldenrod;
    outline: none;
}

.detail:hover{
    background-color: goldenrod;
    border: 1px white solid;
    color: white;
    outline: none;
}
