.detail{
    background-color: white;
    border: 1px goldenrod solid;
    color: goldenrod;
    outline: none;
}
.detail:hover{
    background-color: goldenrod;
    border: 1px white solid;
    color: white;
    outline: none;
}

.detail-hapus{
    background-color: goldenrod;
    border: 1px white solid;
    color: white;
    outline: none;

}
.detail-hapus:hover{
    background-color: white;
    border: 1px goldenrod solid;
    color: goldenrod;
    outline: none;
}

