<!DOCTYPE html>
<html xmlns:th="http://www.thymeLeaf.org">

<head>
    <title> Daftar Pengajuan Pengadaan Fasilitas </title>
    <link rel="stylesheet" href="/css/style.css"/>
    <object th:include="fragments/fragment :: head" th:remove="tag"></object>
</head>

<body>
    <nav th:replace="fragments/fragment :: navbar"></nav>
    <div class="container-fluid" th:align="center" style="animation: slide 2s forwards;">
        <br>
        <center><h2>Daftar Pengajuan Pengadaan Fasilitas</h2></center>
        <br>

        <a th:href="@{/fasilitas/pengadaan/tambah}">
            <button class="btn btn-primary">
                Tambah
            </button>
        </a><br>

        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8" th:align="center">
                <br>
                <table class="table table-hover container-fluid shadow p-3 mb-5 bg-white rounded">
                    <thead style="background-color:goldenrod">
                    <tr>
                        <th style="text-align: center; color: white;">No</th>
                        <th style="text-align: center; color: white;">Nama Fasilitas</th>
                        <th style="text-align: center; color: white;">Harga</th>
                        <th style="text-align: center; color: white;">Jumlah</th>
                        <th style="text-align: center; color: white;">Status</th>
                        <th style="text-align: center; color: white;"></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="fasilitas, iterationStatus : *{daftarPengajuan}">
                        <td style="text-align: center;" th:text="${iterationStatus.count}"></td>
                        <td style="text-align: center;" th:text="${fasilitas.nama}"></td>
                        <td style="text-align: center;" th:text="${fasilitas.harga}"></td>
                        <td style="text-align: center;" th:text="${fasilitas.jumlah}"></td>
                        <td style="text-align: center;" th:if="${fasilitas.status} == 0"> Usulan pengguna </td>
                        <td style="text-align: center;" th:unless="${fasilitas.status} == 0"> Menunggu persetujuan </td>
                        <td>
                            <form th:action="@{/fasilitas/pengadaan/hapus(id=${fasilitas.id})}" th:object="${pengadaanFasilitas}" method="POST">
                                <input type="hidden" th:value="${fasilitas.id}"/>
                                <button type="submit" class="btn btn-danger">Hapus</button>
                            </form>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-md-2"></div>
        </div>
        <br>
    </div>
</body>
</html>