<!DOCTYPE html>
<html xmlns:th="http://www.thymeLeaf.org">

<head>
    <object th:include="fragments/fragment :: head" th:remove="tag"></object>
    <title> Form Pengajuan Pengadaan Buku </title>
    <link rel="stylesheet" href="/css/add-pengajuan.css"/>
</head>

<body>
<nav th:replace="fragments/fragment :: navbar"></nav>
<div class="containers">
    <br><h3> Pengajuan Pengadaan Buku </h3>
    <div th:if="${berhasil}" style="width:100%;text-align: center">
        <i style="color: mediumseagreen" class="fa fa-check"></i><span th:text="${berhasil}" style="color: mediumseagreen"></span>
    </div>
    <div th:if="${gagal}">
        <i style="color: red" class="fa fa-times"></i><span th:text="${gagal}" style="color: red"></span>
    </div>
    <div>
        <form th:action="@{/fasilitas/pengadaan/buku}" th:object="${user}" method="POST">
            <div class="input-container" >
                <input type="text"  class="input-field" name="judul" placeholder="Judul" title="Masukkan Judul">
            </div>
            <div class="input-container">
                <input type="text" class="input-field" name="pengarang" placeholder="Pengarang" title="Masukkan Pengarang">
            </div>
            <div class="input-container">
                <input type="text" class="input-field" name="penerbit" placeholder="Penerbit" title="Masukkan Penerbit">
            </div>
            <div class="input-container">
                <input type="number"  class="input-field" name="jumlah" placeholder="Jumlah" title="Masukkan Jumlah Buku" min="1">
            </div>
            <div class="input-container">
                <input type="number"  class="input-field" name="harga" placeholder="Harga" title="Masukkan Harga" min="0">
            </div>
            <button type="submit" class="buttonLogin">Submit</button>
        </form>
    </div>
</div>
</body>
</html>
