<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4" xmlns:th="http://www.thymelaf.org">
<head>
    <title>SiRuangan</title>
    <object th:include="fragments/fragment :: head" th:remove="tag"></object>
    <link rel="stylesheet" href="/css/home.css"/>
    <script src="/js/home.js"></script>
</head>
<body>
<nav th:replace="fragments/fragment :: navbar"></nav>


<div class="containerss" style="text-align: center" >
    <div class="row " sec:authorize="!isAuthenticated()" >
        <div class="col tulisan">
            <h1><b>Selamat datang</b> di</h1>
            <h4>Portal Sistem Ruangan SMART</h4>
        </div>
        <div class="col welcome">
            <img style="width: 300px" src="img/ruangan.png"/>
        </div>
    </div>
    <div class="row">
<!--        <div sec:authorize="hasAnyAuthority('Admin TU','Guru','Siswa')"  class="col">-->
<!--        <a th:href="@{/ruangan/peminjaman}">-->
<!--            <button class="button">-->
<!--                    Daftar Peminjaman Ruangan-->
<!--            </button>-->
<!--        </a>-->
<!--        </div>-->
<!--        <div sec:authorize="hasAnyAuthority('Admin TU','Guru')" class="col">-->
<!--            <a th:href="@{/fasilitas/pengadaan}">-->
<!--                <button class="button">-->
<!--                    Daftar Pengajuan Fasilitas-->
<!--                </button>-->
<!--            </a>-->
<!--        </div>-->
    </div>
    <div class="row">
        <div sec:authorize="hasAnyAuthority('Admin TU','Guru','Siswa')"  class="col">
            <a th:href="@{/ruangan/peminjaman}">
                <button class="button">
                    Pinjam Ruangan
                </button>
            </a>
        </div>
    <div sec:authorize="hasAnyAuthority('Admin TU','Guru')"  class="col">
        <a th:href="@{/fasilitas/pengadaan/tambah}">
            <button class="button">
                Pengajuan Fasilitas
            </button>
        </a>
    </div>
        <div sec:authorize="hasAnyAuthority('Admin TU')"  class="col">
            <a th:href="@{/fasilitas/pengadaan/buku}">
                <button class="button">
                    Pengadaan Buku
                </button>
            </a>
        </div>
    </div>

</div>

</body>
</html>