<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymelaf.org">
<head>
    <title>My Profile</title>
    <object th:include="fragments/fragment :: head" th:remove="tag"></object>
    <link rel="stylesheet" href="css/home.css"/>
    <script src="js/home.js"></script>
</head>
<body>
<nav th:replace="fragments/fragment :: navbar"></nav>
<div class="detail mx-auto">
    <table class="table">

        <thead style="background-color:goldenrod">
        <tr>
            <th colspan="2" style="color:white">My Profile</th>
        </tr>
        </thead>

    </table>

    <h2 th:if="${guru}">
        <h3 th:text="${guru.nama}"></h3>
        <h3 th:text="${guru.nig}"></h3>
        <h3 th:text="${guru.tempatLahir}"></h3>
        <h3 th:text="${guru.tanggalLahir}"></h3>
        <h3 th:text="${guru.alamat}"></h3>
        <h3 th:text="${guru.telepon}"></h3>
    </h2>

    <h2 th:if="${siswa}">
        <h3 th:text="${siswa.nama}"></h3>
        <h3 th:text="${siswa.nis}"></h3>
        <h3 th:text="${siswa.tempatLahir}"></h3>
        <h3 th:text="${siswa.tanggalLahir}"></h3>
        <h3 th:text="${siswa.alamat}"></h3>
        <h3 th:text="${siswa.telepon}"></h3>
    </h2>

    <h2 th:if="${user}">
        <h3 th:text="${user.username}"></h3>
        <!--<h2 th:text="${user.nik}"></h2>-->
    </h2>


</div>
</body>
</html>