<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">

<head>
    <title>Detail Ruangan</title>
    <object th:include="fragments/fragment :: head" th:remove="tag"></object>
    <link rel="stylesheet" href="/css/home.css"/>
    <script src="/js/home.js"></script>
</head>

<body>
    <nav th:replace="fragments/fragment :: navbar"></nav>

        <table class="table">

            <thead style="background-color:goldenrod">
            <tr>
                <th colspan="5" style="color:white">Detail Data Ruangan</th>
            </tr>
            </thead>

            <tr>
                <th colspan="2">
                    <a th:href="@{/}">Kembali ke beranda</a>
                </th>
            </tr>

            <tr>
                <td>Nama</td>
                <td th:text="${ruangan.nama}"></td>
            </tr>

            <tr>
                <td>Kapasitas</td>
                <td th:text="${ruangan.kapasitas}"></td>
            </tr>

            <tr>
            <td>
                <form th:action="@{'/ruangan/peminjaman/tambah/' + ${ruangan.id} }" method="POST">
                    <button class="btn btn-dark" type="submit">
                        Pinjam
                    </button>
                </form>
            </td>
            </tr>

        </table>


        <table class="table">

            <thead style="background-color:goldenrod">
            <tr>
                <th colspan="5" style="color:white">Fasilitas Milik Ruangan</th>
            </tr>
            </thead>

            <tr th:each="fasilitas, iterationStatus: ${listFasilitas}">

                <td th:text="${iterationStatus.count}"></td>
                <td th:text="${fasilitas.nama}"></td>
                <td th:text="${fasilitas.jumlah}"></td>

                <td>
                <button class="btn btn-primary">
                    <a style="color: white" th:href="@{'/fasilitas/ubah/' + ${fasilitas.id}}">
                        Ubah
                    </a>
                </button>
                </td>

                <!--<a sec:authorize= "hasAnyAuthority('Admin TU')" class="dropdown-item profile " th:href="@{/ruangan/peminjaman}">-->

                <td>
                <form sec:authorize= "hasAnyAuthority('Admin TU')"th:action="@{'/fasilitas/delete/' + ${fasilitas.id} }" method="POST">
                    <button class="btn btn-danger" type="submit">
                        Hapus
                    </button>
                </form>
                </td>

            </tr>

            </tbody>
        </table>
</body>
</html>