html, body {
    height: 100%;
}
body{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
nav{
    background-color: transparent;
}
.containerss{
    position: absolute;
    top:  50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.button {
    width: 100%;
    height: 7rem;
    font-size: 20px;
    text-align: center;
    line-height: 7rem;
    font-family: sans-serif;
    text-transform: uppercase;
    letter-spacing: 1px;
    position: relative;
    transition: 0.3s;
    background-color: white;
    border: none;
}

.button::before,
.button::after {
    content: '';
    position: absolute;
    width: inherit;
    height: inherit;
    top: 0;
    left: 0;
    transition: 0.3s;
}

.button::before {
    background-color: white;
    z-index: -1;
    box-shadow: 0.2rem 0.2rem 0.5rem rgba(0, 0, 0, 0.2);
}

.button::after {
    background-color: goldenrod;
    transform: translate(1.5rem, 1.5rem);
    z-index: -2;
}

.button:hover {
    transform: translate(1.5rem, 1.5rem);
    color: white;
}

.button:hover::before {
    background-color: goldenrod;
}

.button:hover::after {
    background-color: white;
    transform: translate(-1.5rem, -1.5rem);
}